.project-list {
  height: 100vh;
  display: flex;
  margin: 15px 15px 15px 15px;
  justify-content: center;
}

table {
  border: 2px solid forestgreen;
  width: 2000px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

a {
  color: black;
}
